%footer.footer
  .container
    %ul.footer-links
      %li
        = link("Github (midwire)", to: "https://github.com/midwire", target: "_blank")
      %li
        = link("Github (cblackburn)", to: "https://github.com/cblackburn", target: "_blank")
      %li
        = link("Tunedrop code", to: "https://github.com/cblackburn/tunedrop", target: "_blank")
    %p
      Built by Chris Blackburn (
      = link("midwire", to: "http://midwiretech.com", target: "_blank")
      ) with Elixir using the Phoenix framework.
