%h1 Tunedrops...

%p
  New tunes will be posted to the top of the list. Click on the tune name to play the youtube video. Tune videos will automatically play when posted, if nothing is already playing. Hover over tune details to get help on parts that are clickable.

#currently-playing
  .video-controls
    = link("Show Video", to: "#", class: "show-video-link")
    = link("Hide Video", to: "#", class: "hide-video-link")
  %iframe#video{width: 426, height: 240, frameborder: 0}

%ul#tunes.tunes-list
  - for tune <- @tunes do
    = render("_tune.html", tune: tune, conn: @conn)

%script{src: "https://www.youtube.com/iframe_api""}
